<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/login"style="
        padding: 12px 25px;
        background-color: #3434c7;
        color: white;
        text-decoration: none;
        border-radius: 30px;
        font-weight: bold;
        display: inline-block;
        margin: 10px;
    ">login</a>
    <a href="/create"style="
        padding: 12px 25px;
        background-color: #3434c7;
        color: white;
        text-decoration: none;
        border-radius: 30px;
        font-weight: bold;
        display: inline-block;
        margin: 10px;
    ">create</a>
</body>
</html>